 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-12">
          <div class="container">
            <div class="text-right">
              <button routerLink="/admin/formateur/add-formateur" class="btn btn-info mt-5 mb-4">
                <i class="fas fa-plus"></i> Add Formateur
              </button>
            </div>
            <h4 class="mb-5"> List Formateur Active</h4>
            <div>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-inline mb-2">
                    <i class="fas fa-search mr-2"></i>
                    <input
                      type="text"
                      class="form-control"
                     
                      name="term"
                      placeholder="Search"
                      [(ngModel)]="term"
                    />
                  </div>
                </div>
              </div>
          
              <table class="table  text-center">
                <thead>
                  <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Fonction</th>
                    <th>Actions</th> 
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor=" let formateur of formateurs |filter:term | paginate
                    : {
                        id: 'listin-pag',
                        itemsPerPage: 3,
                        currentPage: page,
                        totalItems: total
                      }"
                  >            
                  <td>{{ formateur.nom | titlecase }}</td>
                  <td>{{ formateur.prenom | titlecase }}</td>
                  <td>{{ formateur.email }}</td>
                  <td>{{ formateur.tele }}</td>
                  <td>{{ formateur.fonction | titlecase }}</td>
                   
                    
                   
                    <td>
                      <button
                      [routerLink]="['/admin/formateur/show-formateur', formateur.id]"
                        class="btn btn-primary mr-2"
                      >
                        <i class="fas fa-info-circle"></i> Detail
                      </button>
                      <button
                     
                     
                      [routerLink]="['/admin/formateur/edit-formateur', formateur.id]"
                      
                        class="btn btn-warning text-white mr-2"
                      >
                        <i class="fas fa-edit"></i> Edit
                      </button>
          
                      <button (click)="deleteFormateur(formateur.id)" class="btn btn-danger">
                        <i class="far fa-trash-alt"></i> Delete
                      </button>
                    </td>
               
                  </tr>
                </tbody>
              </table>
              <div class="text-right mt-3">
                <pagination-controls
                  id="listin-pag"
                  (pageChange)="page = $event"
                  (pageBoundsCorrection)="page = $event"
                  maxSize="10"
                  directionLinks="true"
                  autoHide="true"
                  responsive="true"
                  previousLabel="Previous"
                  nextLabel="Next"
                  screenReaderPaginationLabel="Pagination"
                  screenReaderPageLabel="page"
                  screenReaderCurrentLabel="You're on page"
                >
                </pagination-controls>
              </div>
            </div>
           
        </div>
      </div>
      
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
